# env/system
miniconda3/
.local/
.cache/
.conda/
.config/
.jupyter/
.ipython/
.anaconda/
.nv/
.vscode-server/
.dotnet/
.copilot/
新建文件夹/
__pycache__/
*.pyc
.python_history
.wget-hsts
.bash_history

# big data
dataset.zip
level4/dataset/
level4/dataset.zip
level4/unet测试/dataset/
level4/unet测试/dataset.zip
data/

# big models (>100MB)
level4/unet测试/checkpoints/unet_v4/unet_best.pth
level4/unet测试/checkpoints/unet_v4/unet_best4.pth
level4/unet测试/checkpoints/unet_v4/unet_epoch*.pth
*.Zone.Identifier
